apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: regatta-dir-prep-__KIT_NAME__
  namespace: __NAMESPACE__
spec:
  selector:
    matchLabels:
      name: regatta-dir-prep-__KIT_NAME__
  template:
    metadata:
      labels:
        name: regatta-dir-prep-__KIT_NAME__
    spec:
      nodeSelector:
        type: db
      restartPolicy: Always
      containers:
      - name: init-dirs
        image: busybox:1.36
        command: ["/bin/sh", "-c"]
        args:
          - |
            mkdir -p -m 0777 /host-db1/__KIT_NAME__
            echo "Directory /mnt/db1/__KIT_NAME__ created successfully."
            sleep 3600
        volumeMounts:
        - name: host-db1
          mountPath: /host-db1
      volumes:
      - name: host-db1
        hostPath:
          path: /mnt/db1
          type: DirectoryOrCreate
