apiVersion: regatta.dev/v1alpha1
kind: RegattaCluster
metadata:
  name: __KIT_NAME__
  namespace: __NAMESPACE__
spec:
  version: "26.0"
  image:
    repository: __REGATTA_IMAGE_REPOSITORY__
    tag: "__REGATTA_VERSION__"
    pullPolicy: IfNotPresent
    pullSecrets:
      - ecr-secret
  security:
    runAsUser: 999
    runAsGroup: 999
    fsGroup: 999
  sequencer:
    num_threads: __SEQUENCER_NUM_THREADS__
    ram_MB: 600
  gdd:
    num_threads: 1
    ram_MB: 300
  dcm:
    num_threads: 1
    ram_MB: 350
  rdb:
    replicas: __REPLICAS__
    num_threads: __RDB_NUM_THREADS__
    ram_MB: __RDB_RAM_MB__
    service:
      type: LoadBalancer
      port: 8850
    blockStorage:
      size: __STORAGE_SIZE__
      storageClassName: local-storage
      selector:
        matchLabels:
          regatta.dev/cluster: __KIT_NAME__-static
  repoStorage:
    size: 5Gi
  logs:
    size: 5Gi
  sharedMemorySize: __SHM_SIZE__
  resources:
    sm:
      requests:
        cpu: "__SM_CPU__"
        memory: 1250M
      limits:
        cpu: "__SM_CPU__"
        memory: 1250M
    rdb:
      requests:
        cpu: "__RDB_NUM_THREADS__"
        memory: __RDB_RAM_MB__M
      limits:
        cpu: "__RDB_NUM_THREADS__"
        memory: __RDB_RAM_MB__M

