apiVersion: regatta.dev/v1alpha1
kind: RegattaCluster
metadata:
  name: __KIT_NAME__
  namespace: __NAMESPACE__
spec:
  version: "26.0"
  image:
    repository: __REGATTA_IMAGE_REPOSITORY__
    tag: "__REGATTA_VERSION__"
    pullPolicy: IfNotPresent
    pullSecrets:
      - ecr-secret
  sequencer:
    num_threads: 4
    ram_MB: 600
  gdd:
    num_threads: 1
    ram_MB: 300
  dcm:
    num_threads: 1
    ram_MB: 350
  rdb:
    replicas: __REPLICAS__
    num_threads: 16
    ram_MB: 20000
    service:
      type: LoadBalancer
      port: 8850
    blockStorage:
      size: __STORAGE_SIZE__
      storageClassName: local-storage
      selector:
        matchLabels:
          regatta.dev/cluster: __KIT_NAME__-static
  repoStorage:
    size: 5Gi
  logs:
    size: 5Gi
  sharedMemorySize: __SHM_SIZE__
  resources:
    sm:
      requests:
        cpu: "6"
        memory: 1250M
      limits:
        cpu: "6"
        memory: 1250M
    rdb:
      requests:
        cpu: "16"
        memory: 20000M
      limits:
        cpu: "40"
        memory: 80000M

